<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tess.features.splash">

    <application>
        <activity android:name="com.tess.features.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
